*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    align-items: center;
}
.calculator{
    background-color:black;
    padding: 50px;
    margin-bottom: 30px;
    gap: 20px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
}
.calculator input{
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 300px;
    font-size: 25px;
}
.calculator button{
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    width: 200px;
    cursor: pointer;
    background-color: white;
}

.result{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box{
    background-color: black;
    color: white;
    padding: 50px;
    border-radius: 10px;
    width: 178px;
    text-align: center;
}
.box p {
    font-size: 36px;
    margin-bottom: 5px;
}
.box span{
    font-size: 20px;
    color: #888;
}